:root {
  --yellow: #f4d04e;
  --black: #111111;
}

@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  font-family: "Figtree";
  color: var(--black);
  line-height: 150%;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.4rem;
  margin: 2.4rem;
  gap: 2.4rem;
  max-width: 38.4rem;
  background: #ffffff;
  border: 0.1rem solid;
  box-shadow: 0.8rem 0.8rem 0rem #000000;
  border-radius: 2rem;
}

.card__img {
  width: 100%;
  border-radius: 1rem;
  height: 20rem;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.content__category {
  padding: 0.4rem 1.2rem;
  background: var(--yellow);
  border-radius: 0.4rem;
  width: fit-content;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 150%;
}

.content__publish-date {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 150%;
}

.content__heading {
  font-weight: 800;
  font-size: 2rem;
  line-height: 150%;
}

.content__heading:hover {
  color: var(--yellow);
  cursor: pointer;
}

.content__heading:focus {
  color: var(--yellow);
    cursor: pointer;
}
.content__desc {
  font-weight: 500;
  font-size: 1.4rem;
  color: #7f7f7f;
  line-height: 150%;
}

.card__author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
}

.author__img {
  width: 3.2rem;
  height: 3.2rem;
}

.author__name {
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 150%;
}

/* Adjust font sizes for responsiveness */

@media (min-width: 432px) {
  .content__category {
    font-size: 1.4rem;
  }

  .content__publish-date {
    font-size: 1.4rem;
  }

  .content__heading {
    font-size: 2.4rem;
  }

  .content__desc {
    font-size: 1.6rem;
  }
}
